<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HOME</title>
<style type="text/css">
    table{
     border: 2px solid black; 
     width: 100%; /* 테이블이 main 태그의 너비를 따르게 함 */
    }   
</style>
</head>
<body>
    <main style="text-align: center; width: 500px; margin: 0 auto;"> <!-- 너비를 테이블과 일치시키고 중앙 정렬 -->
        <h1>Store List</h1>
         
        <table>
            <thead>
                <tr>
                    <th>StoreNum</th>
                    <th>StoreName</th>
                    <th>AreaZ</th>
                    <th>Category</th>
                    <th>Menu</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                <tr th:each="map : ${list}">
                    <td th:text="${map.StoreNum}"></td>
                    <td th:text="${map.StoreName}"></td>
                    <td th:text="${map.AreaZ}"></td>
                    <td th:text="${map.Category}"></td>
                    <td th:text="${map.Menu}"></td>
                    <td th:text="${map.Price} + '원'"></td>
                </tr>
            </tbody>    
        </table>
         
        후기 입력
          
        <table>
            <thead>
                <tr> 
                    <th>storeNum</th>
                    <th>review</th> 
                    <th>버튼</th> 
                </tr>
            </thead>
            <tbody style="background-color: white;">
                <tr>
                    <td><input type="text" value="${StoreNum}"></td>
                    <td><input type="text" value="${Review}"></td>
                    <td><input type="submit" value="Submit"></td> 
                </tr>
            </tbody>    
        </table>
        <table>
            <thead>
                <tr>
                    <th>StoreName</th>
                    <th>review</th> 
                </tr>
            </thead> 
            <tbody style="background-color: white;">
                 <tr th:each="map : ${list1}">
                    <td th:text="${map.StoreNum}"></td>
                    <td th:text="${map.Review}"></td> 
                </tr>
            </tbody>    
        </table>
        
    </main>
</body>
</html>